schema/program-object/program-object.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:data="urn:us:gov:treas:data_act" targetNamespace="urn:us:gov:treas:data_act" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6">
	<xs:include schemaLocation="../general/general.xsd"/>
	<xs:element name="ProgramActivityToObjectClass" type="data:ProgramActivityToObjectClass_ComplexType">
		<xs:annotation>
			<xs:documentation>Program Activity to Object Class Container</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProgramActivityToObjectClass_ComplexType">
		<xs:annotation>
			<xs:documentation>Program Activity to Object Class Container Type</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="data:AppropriationsAccount"/>
			<xs:element ref="data:ObjectClass"/>
			<xs:element ref="data:ObligatedAmount"/>
			<xs:element ref="data:ProgramActivity"/>
			<xs:element ref="data:OutlayAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AppropriationsAccount" type="data:TreasuryAccountSymbol_ComplexType">
		<xs:annotation>
			<xs:documentation>The Treasury Appropriation Fund Symbol (TAFS) is the components of a Treasury Account Symbol – allocation agency, agency, main account, period of availability and availability type – that directly correspond to an appropriations account established by Congress.
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectClass" type="data:ObjectClass_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: Categories in a classification system that presents obligations by the items or services purchased by the Federal Government. Each specific object class is defined in OMB Circular A-11 83.6.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObligatedAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: Obligation means a legally binding agreement that will result in outlays, immediately or in the future. When you place an order, sign a contract, award a grant, purchase a service, or take other actions that require the Government to make payments to the public or from one Government account to another, you incur an obligation. It is a violation of the Antideficiency Act (31 U.S.C. 1341(a)) to involve the Federal Government in a contract or obligation for payment of money before an appropriation is made, unless authorized by law. This means you cannot incur obligations in a vacuum; you incur an obligation against budget authority in a Treasury account that belongs to your agency. It is a violation of the Antideficiency Act to incur an obligation in an amount greater than the amount available in the Treasury account that is available. This means that the account must have budget authority sufficient to cover the total of such obligations at the time the obligation is incurred. In addition, the obligation you incur must conform to other applicable provisions of law, and you must be able to support the amounts reported by the documentary evidence required by 31 U.S.C. 1501. Moreover, you are required to maintain certifications and records showing that the amounts have been obligated (31 U.S.C. 1108). The following subsections provide additional guidance on when to record obligations for the different types of goods and services or the amount.
 
Additional detail is provided in Circular A-11.
Additional detail is provided in Circular A-11.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProgramActivity" type="data:ProgramActivity_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: A specific activity or project as listed in the program and financing schedules of the annual budget of the United States Government.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OutlayAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: Payments made to liquidate an obligation (other than the repayment of debt principal or other disbursements that are “means of financing” transactions). Outlays generally are equal to cash disbursements but also are recorded for cash-equivalent transactions, such as the issuance of debentures to pay insurance claims, and in a few cases are recorded on an accrual basis such as interest on public issues of the public debt. Outlays are the measure of Government spending.
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
