schema/award/award.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:data="urn:us:gov:treas:data_act" targetNamespace="urn:us:gov:treas:data_act" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6">
	<xs:include schemaLocation="../general/general.xsd"/>
	<xs:element name="AwardAttributes" type="data:AwardAttributes_ComplexType">
		<xs:annotation>
			<xs:documentation>Award Attributes Container </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AwardAttributes_ComplexType">
		<xs:annotation>
			<xs:documentation>Award Attributes Container Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="data:RecipientDunsNumber"/>
			<xs:element ref="data:FundingActionObligationAmount"/>
			<xs:element ref="data:OrginalSubsidyCost" minOccurs="0"/>
			<xs:element ref="data:NonFederalFundingAmount" minOccurs="0"/>
			<xs:element ref="data:CurrentTotalFundingObligationAmount"/>
			<xs:element ref="data:CurrentTotalValueAwardAmount" minOccurs="0"/>
			<xs:element ref="data:FaceValueLoanGuarantee" minOccurs="0"/>
			<xs:element ref="data:PotentialTotalValueAwardAmount" minOccurs="0"/>
			<xs:element ref="data:TypeOfTransactionCode" minOccurs="0"/>
			<xs:element ref="data:NAICS_Code"/>
			<xs:element ref="data:NAICS_Description"/>
			<xs:element ref="data:CFDA_Code"/>
			<xs:element ref="data:CFDA_Description"/>
			<xs:element ref="data:AwardingAgencyName"/>
			<xs:element ref="data:ParentAwardID" minOccurs="0"/>
			<xs:element ref="data:ActionDate"/>
			<xs:element ref="data:PeriodOfPerformanceStartDate" minOccurs="0"/>
			<xs:element ref="data:PeriodOfPerformanceCurrentEndDate" minOccurs="0"/>
			<xs:element ref="data:PeriodOfPerformancePotentialEndDate" minOccurs="0"/>
			<xs:element ref="data:OrderingPeriodEndDate" minOccurs="0"/>
			<xs:element ref="data:PrimaryPlaceOfPerformance" minOccurs="0"/>
			<xs:element ref="data:AwardIdentificationNumber" minOccurs="0"/>
			<xs:element ref="data:fainAwardNumber" minOccurs="0"/>
			<xs:element ref="data:RecordType" minOccurs="0"/>
			<xs:element ref="data:TypeOfAction" minOccurs="0"/>
			<xs:element ref="data:ReasonForModification" minOccurs="0"/>
			<xs:element ref="data:BusinessType"/>
			<xs:element ref="data:FundingAgencyName"/>
			<xs:element ref="data:FundingAgencyCode"/>
			<xs:element ref="data:FundingSubTierAgencyName"/>
			<xs:element ref="data:FundingSubTierAgencyCode"/>
			<xs:element ref="data:FundingOfficeName"/>
			<xs:element ref="data:FundingOfficeCode"/>
			<xs:element ref="data:AwardingAgencyName"/>
			<xs:element ref="data:AwardingSubTierAgencyCode"/>
			<xs:element ref="data:AwardingOfficeName"/>
			<xs:element ref="data:AwardingOfficeCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FundingActionObligationAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards:  The sum, in US dollars, of the contract value for the based contract and any options that have been exercised.  This is the amount that has been obligated to date. 
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrginalSubsidyCost" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial Assistance awards: The original subsidy cost of the direct loan or loan guarantee.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NonFederalFundingAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: Amount of non-Federal funding, in dollars.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CurrentTotalFundingObligationAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: The total Federal plus non-Federal funding amount in dollars. A negative number represents a decrease in funding.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CurrentTotalValueAwardAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: Total Base and Exercised Options Value: The sum, in United States Dollars, of the contract value for the base contract and any options that have been exercised.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FaceValueLoanGuarantee" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: The face value of the direct loan or loan guarantee.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PotentialTotalValueAwardAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: Total Base and All Options Value:  The sum, in United States Dollars, of the mutually agreed upon total estimated contract or order value including base order and all options.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TypeOfTransactionCode" type="data:TypeOfTransactionCode_ComplexType">
		<xs:annotation>
			<xs:documentation>Transaction Code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NAICS_Code" type="data:NAICS_Code_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: The identifier that represents the North American Industrial Classification System Code assigned to the solicitation and resulting award identifying the industry in which the contract requirements are normally performed.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NAICS_Description" type="data:NAICS_Description_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: The title associated with the NAICS Code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CFDA_Code" type="data:CFDA_Code_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: Six-position program number from the latest edition of the CFDA (left justified, space filled). Field is seven positions to accommodate possible expansion in this number. If CFDA program number is not available, a pseudo-code is used. This consists of the first two positions of the agency&apos;s CFDA program numbering series, followed by AAA, AAB, etc. for each program being reported. Program titles are listed in field 30.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CFDA_Description" type="data:CFDA_Description_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: The title of the program under which the Federal award was funded in the CFDA.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingAgencyCode" type="data:AgencyCode_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: A department or establishment of the Government as used in the Treasury Account Fund Symbol (TAFS).
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingAgencyName" type="data:AgencyName_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: The name associated with a department or establishment of the Government as used in the Treasury Account Fund Symbol (TAFS).
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardDescription" type="data:AwardDescription_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: A brief description of the purpose of the award.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardModAmendmentNumber" type="data:AwardModificationNumber_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: The identifier of an action being reported that indicates the specific subsequent change to the initial award.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentAwardID" type="data:AwardIdentificationNumber_ComplexType">
		<xs:annotation>
			<xs:documentation>Award identification number of parent.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionDate" type="data:Date_ComplexType">
		<xs:annotation>
			<xs:documentation>The date the action being reported was issued / signed by the government or a binding agreement was reached.  </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodOfPerformanceStartDate" type="data:Date_ComplexType">
		<xs:annotation>
			<xs:documentation>The date on which, for the award referred to by the action being reported, awardee effort begins or the award is otherwise effective. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodOfPerformanceCurrentEndDate" type="data:Date_ComplexType">
		<xs:annotation>
			<xs:documentation>The current date on which, for the award referred to by the action being reported, awardee effort completes or the award is otherwise ended.  Administrative actions related to this award may continue to occur after this date.  This date does not apply to procurement indefinite delivery vehicles under which definitive orders may be awarded.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PeriodOfPerformancePotentialEndDate" type="data:Date_ComplexType">
		<xs:annotation>
			<xs:documentation>The date on which, for the award referred to by the action being reported if all potential pre-determined or pre-negotiated options were exercised, awardee effort completes or the award is otherwise ended.  Administrative actions related to this award may continue to occur after this date.  This date does not apply to procurement indefinite delivery vehicles under which definitive orders may be awarded.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrderingPeriodEndDate" type="data:Date_ComplexType">
		<xs:annotation>
			<xs:documentation>The date on which, for the award referred to by the action being reported, no additional orders referring to it may be placed.  This date applies only to procurement indefinite delivery vehicles (such as indefinite delivery contracts or blanket purchase agreements).  Administrative actions related to this award may continue to occur after this date.  The period of performance end dates for procurement orders issued under the indefinite delivery vehicle may extend beyond this date.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PrimaryPlaceOfPerformance" type="data:Address_ComplexType">
		<xs:annotation>
			<xs:documentation>The location where the predominant performance of the award will be accomplished.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardIdentificationNumber" type="data:AwardIdentificationNumber_ComplexType">
		<xs:annotation>
			<xs:documentation>The prime award indicating the Activity Address Code which is the department/agency and office issuing the instrument.  Use the AAC assigned to the program/funding office providing  the predominance of funding for the contract action as the program/funding office code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fainAwardNumber" type="data:FAIN_Number_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards (FAIN): The Federal Award Identification Number (FAIN) is the unique ID within the Federal agency for each financial assistance award.  Once an agency assigns a FAIN and reports it to USAspending.gov, the Federal agency may not- with limited exceptions ­ modify the FAIN during the life of the award. Further, once a Federal agency assigns a FAIN, that Federal agency must ensure that the FAIN is clearly identified in all Federal award documents. As a term and condition of the award, Federal agencies must require that all recipients document the assigned FAIN on each subaward under the Federal award. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RecordType" type="data:RecordType_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: Information should be identified in the FAADS PLUS files using the &apos;Record Type&apos; field as follows:
1 - County-level aggregate reporting (for payments to individuals and other amounts identifiable by a geographical unit)
2- Normal transaction-level (action-by-action) reporting. These are non-aggregate records.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TypeOfAction" type="data:TypeOfAction_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards: Identifies the type of change to the award as follows:
&apos;B&apos; - Continuation (funding in succeeding budget period which stemmed form prior agreement to fund amount of the current action)
&apos;C&apos; - Revision (any change in Federal Government&apos;s financial obligation or contingent liability in existing assistance transaction amount of the change in funding; or any change in Recipient Name, Recipient Address, Project Period or Project Scope
&apos;D&apos; - Funding adjustment to completed project</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReasonForModification" type="data:ReasonForModification_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: The type of modification to an award or IDV performed by this transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BusinessType" type="data:BusienssType_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: Organization Type / Business Type
(Entity information 3.3.1): Business types selected by an entity as applicable for Federal awards.

Financial assistance awards: Two-position numeric code which depicts the type of recipient or borrower.
Government codes:
00 = State government
01 = county government
02 = city or township government
04 = special district government
05 = independent school district
06 = State controlled institution of higher education Nonprofit agencies:
11 = Indian tribe
12 = other nonprofit
Private:
20 = private higher education
21 = individual
22 = profit organization
23 = small business
25 = all other</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingAgencyName" type="data:AgencyName_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement awards: The type of modification to an award or IDV performed by this transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingAgencyCode" type="data:AgencyCode_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: The agency supplied code of the agency that executed (or provided the preponderance of the funding) the transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingSubTierAgencyName" type="data:AgencyName_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Name of the level 2 organization that provided the preponderance of the funds obligated by this transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingSubTierAgencyCode" type="data:AgencyCode_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Identifier of the level 2 organization that provided the preponderance of the funds obligated by this transaction. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingOfficeName" type="data:OfficeName_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Name of the level n organization who has the requirements for the award, and whose parent agency provided the preponderance of the funds obligated by this transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FundingOfficeCode" type="data:OfficeCode_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Identifier of the level n organization who has the requirements for the award, and whose parent agency provided the preponderance of the funds obligated by this transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingSubTierAgencyName" type="data:AgencyName_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Name of the level 2 organization that awarded, executed or is otherwise responsible for the transaction. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingSubTierAgencyCode" type="data:AgencyCode_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Identifier of the level 2 organization that awarded, executed or is otherwise responsible for the transaction. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingOfficeName" type="data:OfficeName_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Name of the level n organization that awarded, executed or is otherwise responsible for the transaction. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardingOfficeCode" type="data:OfficeCode_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: Identifier of the level n organization that awarded, executed or is otherwise responsible for the transaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RecipientDunsNumber" type="data:DUNS_Number_SimpleType">
		<xs:annotation>
			<xs:documentation>The unique identification number for an awardee or recipient. Currently the identifier is the 9-digit number assigned by DB referred to as the DUNS® number.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
