schema/award-financial/award-financial.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:data="urn:us:gov:treas:data_act" targetNamespace="urn:us:gov:treas:data_act" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6">
	<xsd:include schemaLocation="../general/general.xsd"/>
	<xsd:element name="AwardFinancial" type="data:AwardFinancial_ComplexType">
		<xsd:annotation>
			<xsd:documentation>Award Financial Container</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AwardsFinancials" type="data:AwardFinancials_ComplexType">
		<xsd:annotation>
			<xsd:documentation>Root Element for all awards and financials</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ParentAwardIdentificationNumber" type="data:AwardIdentificationNumber_ComplexType">
		<xsd:annotation>
			<xsd:documentation>The unique identifier of the specific award being reported, i.e. FAIN for financial assistance and PIID for procurement.
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionObligatedAmount" type="data:Amount25_SimpleType">
		<xsd:annotation>
			<xsd:documentation>Obligation means a legally binding agreement that will result in outlays, immediately or in the future. When you place an order, sign a contract, award a grant, purchase a service, or take other actions that require the Government to make payments to the public or from one Government account to another, you incur an obligation. It is a violation of the Antideficiency Act (31 U.S.C. 1341(a)) to involve the Federal Government in a contract or obligation for payment of money before an appropriation is made, unless authorized by law. This means you cannot incur obligations in a vacuum; you incur an obligation against budget authority in a Treasury account that belongs to your agency. It is a violation of the Antideficiency Act to incur an obligation in an amount greater than the amount available in the Treasury account that is available. This means that the account must have budget authority sufficient to cover the total of such obligations at the time the obligation is incurred. In addition, the obligation you incur must conform to other applicable provisions of law, and you must be able to support the amounts reported by the documentary evidence required by 31 U.S.C. 1501. Moreover, you are required to maintain certifications and records showing that the amounts have been obligated (31 U.S.C. 1108). The following subsections provide additional guidance on when to record obligations for the different types of goods and services or the amount.
 
Additional detail is provided in Circular A-11.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AwardFinancial_ComplexType">
		<xsd:annotation>
			<xsd:documentation>Award  Financial Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="data:AppropriationAccount"/>
			<xsd:element ref="data:AwardModAmendmentNumber"/>
			<xsd:element ref="data:ParentAwardIdentificationNumber"/>
			<xsd:element ref="data:ObjectClass" maxOccurs="unbounded"/>
			<xsd:element ref="data:TransactionObligatedAmount" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AwardFinancials_ComplexType">
		<xsd:sequence>
			<xsd:element ref="data:AwardFinancial" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
