schema/award-financial/award-financial.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:data="urn:us:gov:treas:data_act" targetNamespace="urn:us:gov:treas:data_act" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6">
	<xs:include schemaLocation="../general/general.xsd"/>
	<xs:element name="AwardToFinancialsAttributes" type="data:AwardToFinancialsAttributes_ComplexType">
		<xs:annotation>
			<xs:documentation>Award to Financial Attributes Container</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AwardToFinancialsAttributes_ComplexType">
		<xs:annotation>
			<xs:documentation>Award to Financial Attributes Container Type</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="data:AppropriationsAccount"/>
			<xs:element ref="data:AwardModAmendmentNumber"/>
			<xs:element ref="data:AwardIdentificationParentNumber"/>
			<xs:element ref="data:FainAwardNumber"/>
			<xs:element ref="data:ObjectClass"/>
			<xs:element ref="data:TransactionObligatedAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AppropriationsAccount" type="data:TreasuryAccountSymbol_ComplexType">
		<xs:annotation>
			<xs:documentation>The Treasury Appropriation Fund Symbol (TAFS) is the components of a Treasury Account Symbol – allocation agency, agency, main account, period of availability and availability type – that directly correspond to an appropriations account established by Congress.
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardModAmendmentNumber" type="data:AwardModificationNumber_SimpleType">
		<xs:annotation>
			<xs:documentation>Procurement and financial assistance awards: The identifier of an action being reported that indicates the specific subsequent change to the initial award.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AwardIdentificationParentNumber" type="data:AwardIdentificationNumber_ComplexType">
		<xs:annotation>
			<xs:documentation>The unique identifier of the parent for the specific award being reported, i.e. FAIN for financial assistance and PIID for procurement.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FainAwardNumber" type="data:FAIN_Number_SimpleType">
		<xs:annotation>
			<xs:documentation>Financial assistance awards (FAIN): The Federal Award Identification Number (FAIN) is the unique ID within the Federal agency for each financial assistance award.  Once an agency assigns a FAIN and reports it to USAspending.gov, the Federal agency may not- with limited exceptions ­ modify the FAIN during the life of the award. Further, once a Federal agency assigns a FAIN, that Federal agency must ensure that the FAIN is clearly identified in all Federal award documents. As a term and condition of the award, Federal agencies must require that all recipients document the assigned FAIN on each subaward under the Federal award. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectClass" type="data:ObjectClass_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: Categories in a classification system that presents obligations by the items or services purchased by the Federal Government. Each specific object class is defined in OMB Circular A-11 83.6.
(defined in OMB Circular A-11)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransactionObligatedAmount" type="data:Amount_SimpleType">
		<xs:annotation>
			<xs:documentation>All spending: Obligation means a legally binding agreement that will result in outlays, immediately or in the future. When you place an order, sign a contract, award a grant, purchase a service, or take other actions that require the Government to make payments to the public or from one Government account to another, you incur an obligation. It is a violation of the Antideficiency Act (31 U.S.C. 1341(a)) to involve the Federal Government in a contract or obligation for payment of money before an appropriation is made, unless authorized by law. This means you cannot incur obligations in a vacuum; you incur an obligation against budget authority in a Treasury account that belongs to your agency. It is a violation of the Antideficiency Act to incur an obligation in an amount greater than the amount available in the Treasury account that is available. This means that the account must have budget authority sufficient to cover the total of such obligations at the time the obligation is incurred. In addition, the obligation you incur must conform to other applicable provisions of law, and you must be able to support the amounts reported by the documentary evidence required by 31 U.S.C. 1501. Moreover, you are required to maintain certifications and records showing that the amounts have been obligated (31 U.S.C. 1108). The following subsections provide additional guidance on when to record obligations for the different types of goods and services or the amount.
 
Additional detail is provided in Circular A-11.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
